complex-content{
    padding: 16px;
    border: 1px dashed royalblue;
    margin: 16px;
    background-color: #ffffff !important;
    width: calc(100% - 32px);
    overflow: visible;

    &::after{
        content:"Complex Content";
        display: inline-block;
        background-color: #ffffff;
        position: absolute;
        top: -12px;
        line-height: normal;
        left: 8px;
        font-size: 12px;
        color: rgba(65, 105, 225, 0.87);
        padding: 4px;
        letter-spacing: 0.5px;
    }

    section{
        padding: 16px;
        border: 1px dashed rgb(248, 72, 139);
        background-color: #ffffff !important;

        &:not(:last-of-type){
            margin-bottom: 16px;
        }

        &::after{
            content:"Section";
            display: inline-block;
            background-color: #ffffff;
            position: absolute;
            top: -12px;
            line-height: normal;
            left: 8px;
            font-size: 12px;
            color: rgba(248, 72, 139, 0.87);
            padding: 4px;
            letter-spacing: 0.5px;
        }

        container{
            padding: 16px;
            border: 1px dashed rgb(248, 178, 72);
            gap: 16px !important;

            &:not(:last-of-type){
                margin-bottom: 16px;
            }

            &::after{
                content:"Container";
                display: inline-block;
                background-color: #ffffff;
                position: absolute;
                top: -12px;
                line-height: normal;
                left: 8px;
                font-size: 12px;
                color: rgba(248, 178, 72, 0.87);
                padding: 4px;
                letter-spacing: 0.5px;
            }

            column{
                padding: 16px;
                border: 1px dashed rgb(85, 190, 71);

                &::after{
                    content:"Column";
                    display: inline-block;
                    background-color: #ffffff;
                    position: absolute;
                    top: -12px;
                    line-height: normal;
                    left: 8px;
                    font-size: 12px;
                    color: rgba(85, 190, 71, 0.87);
                    padding: 4px;
                    letter-spacing: 0.5px;
                }

                block{
                    padding: 16px;
                    border: 1px dashed rgb(127, 71, 190);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:not(:last-of-type){
                        margin-bottom: 16px;
                    }

                    &::after{
                        content:"Block";
                        display: inline-block;
                        background-color: #ffffff;
                        position: absolute;
                        top: -12px;
                        line-height: normal;
                        left: 8px;
                        font-size: 12px;
                        color: rgba(127, 71, 190, 0.87);
                        padding: 4px;
                        letter-spacing: 0.5px;
                    }

                    span{
                        color: rgba(41,41,41,0.3);
                        text-transform: uppercase;
                        user-select: none;
                    }
                }
            }
        }
    }
}