@import 'settings';

complex-content{
    position: relative;
    display: block;
    width: 100%;
    overflow-x: hidden;

    section{
        width: 100%;

        container{
            width: 100%;
            display: grid !important;
            column-gap: 32px;

            &.-column-count-1{
                grid-template-columns: minmax(320px, 1fr);
            }

            &.-column-count-2{
                grid-template-columns: minmax(350px, 1fr);

                @media (min-width: $screen-medium){
                    grid-template-columns: 1fr 1fr;
                }
            }

            &.-column-count-3{
                grid-template-columns: minmax(350px, 1fr);

                @media (min-width: $screen-medium){
                    grid-template-columns: 1fr 1fr;
                }

                @media (min-width: $screen-large){
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }

            column{
                width: 100%;
                display: inline-flex;
                flex-flow: column wrap;
    
                block{
                    width: 100%;
                }
            }
        }
    }
}