complex-content{
    position: relative;
    display: block;
    width: 100%;

    section{
        width: 100%;

        container{
            width: 100%;
            display: grid !important;
            column-gap: 32px;

            &.-column-count-1{
                grid-template-columns: 1fr;
            }

            &.-column-count-2{
                grid-template-columns: 1fr 1fr;
            }

            &.-column-count-3{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        column{
            width: 100%;
            display: inline-flex;
            flex-flow: column wrap;

            block{
                width: 100%;
            }
        }
    }
}